@font-face {
  font-family: 'gokuregular';
  src: url('../fonts/goku-webfont.eot');
  src: url('../fonts/goku-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/goku-webfont.woff2') format('woff2'),
       url('../fonts/goku-webfont.woff') format('woff'),
       url('../fonts/goku-webfont.ttf') format('truetype'),
       url('../fonts/goku-webfont.svg#gokuregular') format('svg');
  font-weight: normal;
  font-style: normal;
}